*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:#000;
}

#earthContainer{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:black;
}

.earth{
    width:320px;
    height:320px;
    object-fit:cover;
    border-radius:50%;
    animation: zoomEarth 12s ease-in forwards;
}

@keyframes zoomEarth{

    0%{
        transform:scale(.8);
        filter:brightness(.9);
    }

    30%{
        transform:scale(1.2);
    }

    60%{
        transform:scale(2.8);
    }

100%{
    transform:scale(12);
    opacity:0;
}

}